.welcome {
   background-image: url(../../images/background-2.JPG);
   background-position: center;
   background-size: cover;
   height: calc(100vh - 165px);
   width: 100%;
   min-height: 400px;
   position: relative;

   @include media-breakpoint-down(sm) {
      height: calc(100vh - 140px);
   }

   &__arrow {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 0;
      padding-bottom: 50px;
   }
}