{% extends 'templates/base.twig' %}

{% block content %}

<section class="portfolio section">
   <div class="container-wide">
      <div class="row">
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/3.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/3.jpg" alt="">
            </a>
         </div>

         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/25.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/25.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/7.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/7.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/19.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/19.jpg" alt="">
            </a>
         </div>

         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/26.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/26.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/5.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/5.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/13.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/13.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/12.png" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/12.png" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/11.png" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/11.png" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/4.png" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/4.png" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/8.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/8.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/9.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/9.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/14.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/14.jpg" alt="">
            </a>
            <div class="col-4" data-aos="fade-up">
               <a href="images/portfolio/30.jpg" data-fancybox="gallery" data-caption="">
                  <img src="images/portfolio/30.jpg" alt="">
               </a>
            </div>
            <div class="col-4" data-aos="fade-up">
               <a href="images/portfolio/17.jpg" data-fancybox="gallery" data-caption="">
                  <img src="images/portfolio/17.jpg" alt="">
               </a>
            </div>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/16.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/16.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/22.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/22.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/27.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/27.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/20.png" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/20.png" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/23.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/23.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/21.png" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/21.png" alt="">
            </a>
         </div>

         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/24.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/24.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/2.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/2.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/1.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/1.jpg" alt="">
            </a>
         </div>

         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/28.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/28.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/10.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/10.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/29.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/29.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/6.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/6.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/18.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/18.jpg" alt="">
            </a>
         </div>
         <div class="col-4" data-aos="fade-up">
            <a href="images/portfolio/15.jpg" data-fancybox="gallery" data-caption="">
               <img src="images/portfolio/15.jpg" alt="">
            </a>
         </div>
      </div>
   </div>
</section>

{% endblock %}